html, body {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

.profile, .resume {
  display: inline-block;
  vertical-align: top;
}

.profile {
  background-color: #303F9F;
  float: left;
  color: white;
  height: 100%;
  overflow: hidden;
  position: fixed;
  text-align: center;
  width: 30%;
}

.portrait {
  height: 50%;
  padding-top: 50px;
}

.intro {
  margin-top: 200px;
}

.links {
  height: 50%;
  padding-top: 60px;
  text-align: center;
}

.single-link {
  color: white;
}

.list {
  list-style-type: none;
  padding: 20px;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
}

.project-link {
  color: black;
  font-weight: 600;
}

.resume {
  float: right;
  width: 70%;
}

.inner-resume {
  padding: 50px;
}

.content {
  padding-bottom: 30px;
}

.skill-section {
  margin-bottom: 15px;
}

.length {
  float: right;
  font-size: 13px;
}
