html, body {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
}

.profile, .resume {
  display: inline-block;
  vertical-align: top;
}

.profile {
  float: left;
  height: 100%;
  overflow: hidden;
  position: fixed;
  text-align: center;
  width: 30%;
}

.portrait {
  background-color: purple;
  height: 50%;
  padding-top: 50px;
}

.intro {
  margin-top: 200px;
}

.links {
  background-color: blue;
  height: 50%;
  padding-top: 60px;
  text-align: center;
}

.list {
  list-style-type: none;
  padding: 20px;
}

li {
  padding: 10px;
}

.resume {
  float: right;
  width: 70%;
}

.inner-resume {
  padding: 40px;
}
